<h2 class="news_header">Administration</h2>
<h3>Please, choose, which type of data you'd like to access</h3>
<ul1>
  <li><%= link_to 'Courses', courses_by_year_path %></li>
  <li><%= link_to 'Teachers', teachers_path %></li>
  <li><%= link_to 'Rooms', rooms_path %></li>
</ul1>