<%= image_tag("logo/Oxford-University.jpg", {class: 'page_foto'}) %>

<h2 class="news_header">Latest news of our school</h2>

<h4>NAoS is the first European university sending Erasmus students abroad,
  according to  latest Erasmus statistics released by the European Commission. </h4>

<h4>Exhibition: over 1,700 nocturnal worldwide images made from ISS</h4>

<h4>On June, 23rd our students wrote their last exam</h4>