<h2 class="news_header">Psycho support</h2>
<h3>
  We know, that people from 15 to 25 years old are really emotional- and sometimes their reactions are a little bit strange.
  If you need a help of a psychologist- our specialists from the Psycho Support Service are always ready to help you
<ul>
  <li><%= link_to 'Special training', helps_sp_training_path %></li>
  <li><%= link_to 'Tutoring', helps_tutoring_path %></li>
</ul>
</h3>