<h2 class="news_header">Special training</h2>
<h3>
  If you are finishing the high school and you want to study in NAoS, you may take special preparation classes- real professors of our
  university will test your abilities and recommend you 1 or several courses for the preparation to the admission test. Call
  +785734957 to book a date for an appointment
<ul>
  <li><%= link_to 'Tutoring', helps_tutoring_path %></li>
  <li><%= link_to 'Psycho support', helps_ps_support_path %></li>
</ul>
</h3>