<h2 class="news_header">Tutoring</h2>
<h3>
  If you are a 1st year student, you may contact with our Student Support Office in the NAoS (room 301) and as for a tutor- a student who will help
  you to become a significant part of our university's community
<ul>
  <li><%= link_to 'Special training', helps_sp_training_path %></li>
  <li><%= link_to 'Psycho support', helps_ps_support_path %></li>
</ul>
</h3>