<h2 class="news_header">Teachers List</h2>
<ul1><li><%= link_to 'Add new teacher', new_teacher_path %></li></ul1>
<table id='teachers_list'>
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @teachers.each do |t| %>
      <tr>
        <td><%= image_tag("teachers/#{t.foto}", {class: 'teacher_image_index'}) %></td>
        <td><%= t.name %></td>
        <td><%= link_to 'Details', teacher_path(t) %></td>
      </tr>
  <% end %>
  </tbody>
</table>