<h2 class="news_header">Actually the council is composed by the following persons</h2>
<h3>The Rector of the NAoS</h3>
<h4>
  <ul>
    <li>Michail Ya. Shneider</li>
  </ul>
</h4>
<h3>Representatives of students</h3>
<h4>
  <ul>
    <li>Alex Weneger</li>
    <li>Nina Loeva</li>
    <li>Nikita Kurbatov</li>
    <li>Valery Shavenkova</li>
    <li>Olga Litovkina</li>
    <li>Alexandra Farageva- <i>Secretary of Council</i></li>
    <li>Vlad Klenov</li>
  </ul>
</h4>
<h3>Representatives of teachers</h3>
<h4>
  <ul>
    <li>Daria Baldina</li>
    <li>Elena Lenskaya</li>
    <li>Pavel Grishkov</li>
    <li>Petr Ishkov</li>
    <li>Larisa Shagina</li>
    <li>Olga Kostygova</li>
    <li>Victor Pichuzhkin</li>
  </ul>
</h4>